body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.conteiner{
    background-image: url(projectforcolledge/sudzykymaria/8.png.jpg);

}
header {
    margin-bottom: 20px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
